<div class="col" *ngIf="country">
  <img [src]="getImgUrl()"
       [alt]="country.name"
       class="card-img-top"
  >
  <div class="card-body">
    <p class="card-text"><strong>Country:</strong> {{ country.name }}</p>
    <p class="card-text"><strong>Capital:</strong> {{ country.capital }}</p>
    <p class="card-text"><strong>Population:</strong> {{ country.population }} person</p>
    <p class="card-text"><strong>Languages:</strong></p>
    <p class="card-text pl-5" *ngFor="let lang of country.languages"> <span class="pl-5">{{ lang.name }}</span></p>
    <p class="card-text"><strong>Region:</strong> {{ country.region }}</p>
    <p class="card-text"><strong>Subregion:</strong> {{ country.subregion }}</p>
    <p class="card-text"><strong>Area:</strong> {{ country.area }} km²</p>
  </div>
</div>
