<div class="card-header">
  <h3 class="card-title">Countries information</h3>
</div>
<div class="row">
  <div class="col pl-4">
    <div *ngIf="!isLoading;else loadingSpinner" class="list-group">
      <a class="list-group-item list-group-item-action"
          *ngFor="let country of countries"
          [routerLink]="['country', country.alpha3Code]">
        {{country.name}}
      </a>
    </div>
    <ng-template #loadingSpinner>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
    </ng-template>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
